@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazir";
  font-weight: 500;
  src: url("/assets/fonts/Vazir-Regular-FD.ttf") format("truetype"),
    url("/assets/fonts/Vazir-Regular-FD.woff") format("woff"),
    url("/assets/fonts/Vazir-Regular-FD.woff2") format("woff2");
}

@font-face {
  font-family: "vazir";
  font-weight: 800;
  src: url("/assets/fonts/Vazir-Bold-FD.ttf") format("truetype"),
    url("/assets/fonts/Vazir-Bold-FD.woff") format("woff"),
    url("/assets/fonts/Vazir-Bold-FD.woff2") format("woff2");
}

html,
body {
  @apply bg-dark-200 overflow-x-hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
  transition: inherit;
}

:root {
  font-family: "vazir", sans-serif;
  direction: rtl;
  font-size: 16px;
  line-height: 24px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  transition: all 350ms;
}

/* Hide default button of input num type in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
}

#blog {
  position: relative;
  & .square {
    animation: rotation 1s linear forwards infinite;
    @apply w-10 h-10 hidden md:block absolute bg-transparent border-4 border-orange;
    &:nth-child(1) {
      opacity: 0.4;
      filter: blur(2px);
      top: 75%;
      right: 0;
      animation-delay: 1s;
      animation-duration: 4s;
    }
    &:nth-child(2) {
      opacity: 0.75;
      top: 40%;
      right: 20%;
      animation-duration: 1s;
    }
    &:nth-child(3) {
      top: 60%;
      right: 50%;
      animation-duration: 10s;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}