@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazir";
  font-weight: 500;
  src: url("/assets/fonts/Vazir-Regular-FD.ttf") format("truetype"),
    url("/assets/fonts/Vazir-Regular-FD.woff") format("woff"),
    url("/assets/fonts/Vazir-Regular-FD.woff2") format("woff2");
}

@font-face {
  font-family: "vazir";
  font-weight: 800;
  src: url("/assets/fonts/Vazir-Bold-FD.ttf") format("truetype"),
    url("/assets/fonts/Vazir-Bold-FD.woff") format("woff"),
    url("/assets/fonts/Vazir-Bold-FD.woff2") format("woff2");
}

body {
  @apply bg-dark-100 overflow-x-hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
  transition: inherit;
}

:root {
  font-family: "vazir", sans-serif;
  direction: rtl;
  font-size: 16px;
  line-height: 24px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  transition: all 350ms;
}

/* Hide default button of input num type in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
}

// background animation
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

#blog {
  position: relative;
}

#blog .circle {
  z-index: -1;
  width: 11vmin;
  height: 11vmin;
  border-radius: 11vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 20;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#blog .circle:nth-child(0) {
  color: #583C87;
  top: 71%;
  left: 93%;
  animation-duration: 298s;
  animation-delay: -116s;
  transform-origin: 0vw 11vh;
  box-shadow: -22vmin 0 3.5304229315837095vmin currentColor;
}

#blog .circle:nth-child(1) {
  color: #583C87;
  top: 70%;
  left: 36%;
  animation-duration: 256s;
  animation-delay: -120s;
  transform-origin: -5vw 18vh;
  box-shadow: -22vmin 0 3.463830120388748vmin currentColor;
}

#blog .circle:nth-child(2) {
  color: #FFACAC;
  top: 80%;
  left: 12%;
  animation-duration: 231s;
  animation-delay: -179s;
  transform-origin: -7vw 16vh;
  box-shadow: 22vmin 0 2.938931909089674vmin currentColor;
}